extends ./layout/index
block contenido
    h1 Contacto
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem doloribus voluptates, ab odit officia distinctio amet fuga eum repellendus reiciendis, dolor impedit adipisci officiis voluptatum nisi aliquid pariatur, totam porro.
