extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nostros",class="img-fluid")
            .col-md-7
                h1= pagina 
                
                p #{viajes}
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae reprehenderit, minima magnam veniam necessitatibus consequuntur, eius temporibus illum, mollitia saepe corrupti maxime ab. Ad praesentium, exercitationem sint asperiores nemo aliquid.Reiciendis corporis eum nostrum unde beatae at quasi provident mollitia voluptatem tempora 
                
                p architecto, nam soluta alias accusamus voluptatibus cumque sequi, laboriosam itaque blanditiis iste ipsum. Corporis amet omnis ex dicta!Iusto quo aperiam quos ut, animi eligendi nemo dignissimos nisi rerum ea tempora quam. Quo nesciunt, autem laborum, sapiente cupiditate 
                
                p atque mollitia, dolorem nam sequi error omnis accusamus repellat veniam.Ullam, recusandae placeat laboriosam nisi natus aut dignissimos, rerum id cum ut tempora velit rem est reprehenderit beatae odio ipsa ab officiis nam facere sit quod repellat iusto minima. Sapiente!
    //- img(src="img/cupon.jpg")
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono segurida",class="img-fluid mb-4")
                    h2.mb-4 Seguridad.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odit nisi? Recusandae ea eum ad non necessitatibus officia cum unde porro odit rerum! Iure dolorem nostrum a magnam eligendi consequuntur.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odit nisi? Recusandae ea eum ad non necessitatibus officia cum unde porro odit rerum! Iure dolorem nostrum a magnam eligendi consequuntur.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono precio",class="img-fluid mb-4")
                    h2.mb-4 Mejores precios.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odit nisi? Recusandae ea eum ad non necessitatibus officia cum unde porro odit rerum! Iure dolorem nostrum a magnam eligendi consequuntur.    